@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
          font-family: "Roboto", sans-serif;
          background: #0b0f19;
          color: #e5e7eb;
}

main {
          height: auto;
          padding: 1vw;
}

main>h1 {
          font-family: "Roboto", sans-serif;
          text-align: center;
          font-size: min(15vw,6em);
          margin-bottom: 30px;
}

main>p {
          font-family: "Roboto", sans-serif;
          font-size: 25px;
          opacity: 0.8;
          text-align: center;
}

#searchCotainer {
          background: #121826;
          border-radius: 15px;
          overflow: hidden;
          justify-self: center;
          height: 50px;
          display: flex;
          justify-content: space-between;
          border: 1px solid #1f2937;
}

#searchBox {
          color: white;
          padding: 0px 30px;
          background: none;
          border: none;
          outline: none;
          width: 80%;
}

#searchBtn {
          margin-right: 20px;
          width: fit-content;
          height: 80%;
          align-self: center;
          background: #182958;
          border: none;
          color: white;
          font-size: 1.4em;
          border-radius: 12px;
}

#tools_container {
          width: auto;
          display: flex;
          flex-wrap: wrap;
          padding: min(2vw);
          gap: 20px;
          margin-top: 150px;
}



.tools {
          border-radius: 15px;
          padding: 15px;
          display: grid;
          justify-content: center;
          width: auto;
          background: #121826;
          height: auto;
}

.tools img {
          border-radius: 10px;
          width: auto;
          height: min(200px,10vw);
}

.tools h4 {
          color: wheat;
          text-align: center;
          font-size: 1em;
}

a{
          text-decoration: none;
          color: white;
}
a:visited {
          text-decoration: none;
}
a:active {
          text-decoration: none;
}
@media screen and (max-width:767px) {

.tools {
                   display: flex;
                   gap: 10px;
                   align-items: center;
                   justify-content: center;
          }

}