@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

Body {
          background: #0b0e19;
          width: 100vw;
          height: 100vh;
          margin: 0px;

}


pre {
          padding: 10px;
          overflow: auto;
          font-size: 85%;
          line-height: 1.45;
          background-color: black;
          border-radius: 6px;
}

#mainContainer {
          display: flex;
          width: 100%;
          height: 100%;
}

.subContainer {

          width: 100%;
          height: 99%;
          display: flex;
          flex-direction: column;
          gap: 2%;
          align-items: center;
          justify-content: center;
}

.nav {
          margin-top: 20px;
          height: 8%;
          width: 97%;
          border-radius: 20px;
          background: #0b0e19;
          box-shadow: 14px 14px 16px #04060a,
                    -14px -14px 16px #121628;

}

#output {
          height: 100%;
          overflow: hidden;
          overflow-y: auto;
}

#input,
#outputContainer {
          background: #0b0e19;
          box-shadow: inset 14px 14px 16px #04060a,
                    inset -14px -14px 16px #121628;
          width: 97%;
          height: 93%;
          border-radius: 20px;
          color: white;
          overflow: hidden;
          padding: 40px;
          box-sizing: border-box;
}

.nav h1 {
          font-family: "Roboto", sans-serif;
          text-align: center;
          color: white;
}

textarea {
          background: none;
          overflow: auto;
          overflow-x: auto;
          color: white;
          outline: none;
          border: none;
          text-align: left;

          resize: none;
          width: 100%;
          height: 100%;
}

::-webkit-scrollbar {

          width: 6px;

}

::-webkit-scrollbar-thumb {

          background: #4fd1ff;

          border-radius: 10px;

}