body {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100vh;
          margin: 0px;
}

#mainContainer {
          overflow: hidden;
          height: 700px;
          width: 500px;
          border-radius: 15px;
          background: #000;
          display: grid;

          grid-template-rows: auto 1fr;
}

#mainContainer>div:first-child {
          background: #333333;

}

input {
          outline: none;
          background: none;
          margin: 0px;
          border: none;
          width: 94%;
          height: 120px;
          color: white;
          font-size: 50px;
          padding-left:30px ;
}

#buttonContainer {
          background: #252525;
          display: grid;
          grid-template-columns: auto 2fr;
}

.oprational {
          background: #ff9500;
}
.number{
          background: #4d4d4d;
}

#oprationalContainer {
          padding: 20px;
          padding-top: 33px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          justify-content: start;
          
}

#numberContainer {
          height: 400px;
          gap: 10px;
          display: grid;
          padding: 20px;
          padding-top: 30px;
          padding-left: 0px;
          grid-template-columns: 1fr 1fr 1fr;
}

button {
          border: none;
          width: 90px;
          height: 90px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
          color: white;
          font-weight: 1000;
          font-size: 35px;
          transition: 100ms;
}
button:hover{
          scale: 1.1;
          transition: 100ms;
}